* {
    margin: 0;
    padding: 0;    
}

div {
    background: #226FC1;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}

.box1 {
    border: 7px solid #000;
    border-radius: 20px;
}

.box2 {
    border: 7px dotted #000;
    border-radius: 0 10px 30px 50px;
}

.box3 {
    border: 7px dashed #000;
    border-radius: 10px 0;
}

.box4 {
    border: 7px double #000;
    border-radius: 100%;
}

.box5 {
    border: 7px groove #000;
}

.box6 {
    border: 7px ridge #000;
}

.box7 {
    border: 7px inset #000;
}

.box8 {
    border: 7px outset #000;
}