@font-face {
  font-family: "DMSans";
  src: url("fonts/DMSans-Regular.ttf");
}

body {
  font-family: "DMSans";
}

h2,
.paragraph {
  font-family: "Cabin", sans-serif;
}

h2 {
  font-weight: 600;
}

.paragraph {
  font-weight: 400;
}
