* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.parent {
    background: #2E294A;
    width: 700px;
    overflow: hidden;
}

.box {
    width: 200px;
    color: #FFF;
    font-size: 38px;
    height: 200px;
    background: #0E6BA8;
    margin: 20px;
}

.one {
    float: left;
}

.two {
    float: right;
}