@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Abel", sans-serif;
  font-size: 20px;
}

.nav-menu-container {
  width: 600px;
  margin: 0 auto;
  background: #363635;
  overflow: hidden;
}

.nav-item {
  list-style: none;
  color: #b0fe76;
  float: left;
  padding: 20px;
  width: 25%;
}

.nav-item:hover {
    background: #B0FE76;
    color: #595A4A;
}
