/*
    Universal selector:
    -------------------
    
    * {
        color: red;
    } 
*/

/* Tag selector */

p {
    color: purple;
}

/* Descendent Selector */

div p {
    font-size: 20px;
    color: black;
}

p a {
    color: red;
}

/* Class selector */
.big {
    font-size: 28px;
}

/* Id selector (Not recommended in professional web development) */
#special-link {
    color: yellowgreen;
}