* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #F2F2F2;
}

div, a {
    background: #CCC;
}

a {
    display: block;
}

.box {
    color: #FFF;
    background: #4FB560;
    margin: 20px 0;
    width: 200px;
    height: 400px;
    overflow: auto;
}

.invisible-paragraph {
    visibility: hidden;
}

.second-box .box {
    width: 150px;
    height: 150px;
    position: relative;
}

.blue {
    background: #009DDC;
    z-index: 1;
}

.gray {
    background: #32021F;
    left: 50px;
    bottom: 80px;
}